.details-table {
  width: 82.93333333333334vw;
}
.details-table tbody th {
  text-align: left;
  padding-top: 1.3333333333333335vw;
  padding-right: 2.1333333333333333vw;
  padding-bottom: 1.3333333333333335vw;
  font-size: 3.733333333333334vw;
  width: 20.8vw;
  height: 7.733333333333333vw;
  font-weight: 400;
  color: #6e6d72;
}
.details-table tbody td {
  padding-top: 1.3333333333333335vw;
  padding-bottom: 1.3333333333333335vw;
  padding-left: 2.1333333333333333vw;
  font-size: 3.733333333333334vw;
  width: 62.133333333333326vw;
  height: 7.733333333333333vw;
  font-weight: 400;
  color: #03050d;
  font-family: Arial, Helvetica, sans-serif;
}
.details-table tbody td a {
  color: #7972fe;
}
.details-table tbody td span::after {
  content: url(/img/Shape.png);
}
.box-header {
  width: 91.46666666666667vw;
  height: 10.666666666666668vw;
  padding-left: 4.266666666666667vw;
  padding-right: 4.266666666666667vw;
  margin-bottom: 2.1333333333333333vw;
  display: flex;
  align-items: center;
  border-bottom: 0.5px dashed #d7d7d8;
}
.box-header i {
  color: #7972fe;
  margin-left: 1.3333333333333335vw;
}
.box-header .box-state {
  width: 13.333333333333334vw;
  height: 5.333333333333334vw;
  border-radius: 1.0666666666666667vw;
  margin-left: auto;
  font-size: 3.2vw;
  color: #fff;
  background: #ffa26c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-footer {
  width: 82.93333333333334vw;
  height: 9.066666666666666vw;
  display: flex;
  justify-content: space-evenly;
  color: #7972fe;
  font-size: 3.2vw;
}
.box-footer section {
  height: 9.066666666666666vw;
  width: 25.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-footer section img {
  width: 3.2vw;
  height: 2.666666666666667vw;
  margin-right: 0.8vw;
  margin-bottom: 0vw;
}
