/* 重置或初始化浏览器默认样式 */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, figure, figcaption, blockquote, dl, dt, dd {
    margin: 0;
    padding: 0;
}

  ol, ul {
    list-style: none;
  }
  li {
    list-style: none;
  }
   
  a {
    text-decoration: none;
    color: inherit;
  }
   
  /* 其他需要初始化的标签... */