.col-s-12 {
  grid-column: span 12;
}
.col-s-11 {
  grid-column: span 11;
}
.col-s-10 {
  grid-column: span 10;
}
.col-s-9 {
  grid-column: span 9;
}
.col-s-8 {
  grid-column: span 8;
}
.col-s-7 {
  grid-column: span 7;
}
.col-s-6 {
  grid-column: span 6;
}
.col-s-5 {
  grid-column: span 5;
}
.col-s-4 {
  grid-column: span 4;
}
.col-s-3 {
  grid-column: span 3;
}
.col-s-2 {
  grid-column: span 2;
}
.col-s-1 {
  grid-column: span 1;
}
